# direnv & dotenv
.envrc
.env
.env.local
.env.*.local

# vscode
.vscode/

# idea
.idea/

# npm
node_modules

# hugo
.hugo/public/
.hugo/resources/_gen
.hugo/static/pagefind/
.hugo_build.lock

# coverage
.coverage

# python
__pycache__/

# executable
mcp-toolbox
toolbox
toolbox.exe
toolbox-bin
**/test.db
